# Gradle / Android Studio
.gradle/
build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Firebase
app/google-services.json
backend/functions/node_modules/
backend/.firebaserc
firebase-debug.log

# Sistema
.DS_Store